Hi there!

Looks like you've subscribed to receive notifications from posts I make on <a href="https://millhouse.dev">millhouse.dev</a>.

If this wasn't you, you can unsubscribe by clicking <a href="https://api.millhouse.dev/unsubscribe/{{.SubscriptionID}}">here</a>.

Kind Regards,
Taliesin Millhouse